.card {
    position: relative;
    background: #fff;
    margin-bottom: $base-unit*2;
    display: block;
    color: $text-color;
    text-decoration: none;

    &__header {
        position: relative;
    }

    &__title {
        color: inherit;
        margin: 0;
    }

    &__body {
        padding: $base-unit*2;

        + .card__footer {
            padding-top: 0;
        }
    }

    &__subline {
        padding-right: $base-unit;
    }

    &__footer {
        padding: $base-unit*2;
        display: flex;
        justify-content: space-between;
        font-size: 0.95em;
    }


    &.card-linked {
        border-top: 1px dashed rgba(0,0,0,0.1);
        border-right: 1px dashed rgba(0,0,0,0.1);
        border-left: 1px dashed rgba(0,0,0,0.1);
        border-bottom: 4px solid rgba(0,0,0,0.1);

        &:hover {
            //background: rgba(0,0,0,0.01);
            border-bottom-color: $primary-color;
        }
    }
}
