@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-y: scroll;
  color: #333;
  background-color: #f5f5f5;
  margin: 0; }
  @media (max-width: 768px - 1) {
    body {
      padding-top: 70px; } }
  @media screen and (min-width: 0\0) {
    body.preload * {
      transition: none !important;
      /*IE11 renders the transitions on page load. This disables transitions and enables later on*/ } }
  body.disableScroll {
    overflow-y: hidden; }
  @media (min-width: 1200px) {
    body.disableScroll {
      overflow-y: initial; } }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  max-width: 100%;
  overflow-x: auto; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

blockquote {
  background: #f9f9f9;
  border-left: 4px solid #ccc;
  margin: 10px 0;
  padding: 0.5em 10px;
  font-size: 1.5em;
  font-style: italic;
  quotes: "“" "”" "‘" "’"; }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }

.table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb; }

.table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center; }

.table td,
.table th {
  border-left: 1px solid #cbcbcb;
  /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */ }

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.table td:first-child,
.table th:first-child {
  border-left-width: 0; }

.table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom; }

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.table td {
  background-color: transparent; }

.table-odd td {
  background-color: #f2f2f2; }

/* nth-child selector for modern browsers */
.table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2; }

/* BORDERED TABLES */
.table-bordered td {
  border-bottom: 1px solid #cbcbcb; }

.table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0; }

/* HORIZONTAL BORDERED TABLES */
.table-horizontal td,
.table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb; }

.table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0; }

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.button-group {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */ }

.opera-only :-o-prefocus,
.button-group {
  word-spacing: -0.43em; }

.button-group .button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

/*csslint outline-none:false*/
.button {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);
  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px; }

.button-hover,
.button:hover,
.button:focus {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }

.button:focus {
  outline: 0; }

.button-active,
.button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000\9; }

.button[disabled],
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
  border: none;
  background-image: none;
  /* csslint ignore:start */
  filter: alpha(opacity=40);
  /* csslint ignore:end */
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none; }

.button-hidden {
  display: none; }

.button-primary,
.button-selected,
a.button-primary,
a.button-selected {
  background-color: #0078e7;
  color: #fff; }

/* Button Groups */
.button-group .button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid #111;
  /* fallback color for rgba() for IE7/8 */
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

.button-group .button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.button-group .button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none; }

/*csslint box-model:false*/
fieldset {
  margin: 0 0 3em;
  padding: 0;
  border: none; }

.field-validation-error {
  position: absolute;
  top: 0.5em;
  right: 15px;
  font-size: 0.8em;
  font-weight: 400;
  color: #ed1c24; }

.form-radio,
.form-checkbox,
.form-group {
  position: relative;
  margin-top: 2.25em;
  margin-bottom: 2.25em;
  padding: 1.5em 0 0;
  background-color: #F6F6F6; }

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0; }

.form-help {
  margin-top: 15px;
  margin-left: 15px;
  color: #b3b3b3;
  font-size: 0.8em; }
  .checkbox .form-help,
  .form-radio .form-help,
  .form-group .form-help {
    position: absolute;
    width: 100%; }
  .checkbox .form-help {
    position: relative;
    margin-bottom: 1em; }
  .form-radio .form-help {
    padding-top: 30px;
    margin-top: -1em; }

.form-checkbox input,
.form-radio input,
.form-group input {
  height: 1.9em; }

.form-checkbox textarea,
.form-radio textarea,
.form-group textarea {
  resize: none; }

.form-checkbox select,
.form-radio select,
.form-group select {
  width: 100%;
  font-size: 1em;
  min-height: 1.6em;
  padding: 15px 15px 7.5px;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none; }

.form-checkbox .control-label,
.form-radio .control-label,
.form-group .control-label {
  position: absolute;
  top: 1em;
  pointer-events: none;
  padding-left: 15px;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1em;
  font-weight: normal;
  transition: all 0.28s ease; }

.form-checkbox .bar,
.form-radio .bar,
.form-group .bar {
  position: relative;
  border-bottom: 0.0625em solid #999;
  display: block; }
  .form-checkbox .bar::before,
  .form-radio .bar::before,
  .form-group .bar::before {
    content: '';
    height: 0.125em;
    width: 0;
    left: 50%;
    bottom: -0.0625em;
    position: absolute;
    background: #337ab7;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2; }

.form-checkbox input,
.form-checkbox textarea,
.form-radio input,
.form-radio textarea,
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 15px 15px 7.5px;
  font-size: 1em;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none; }

.form-checkbox input[type="file"],
.form-radio input[type="file"],
.form-group input[type="file"] {
  line-height: 1; }
  .form-checkbox input[type="file"] ~ .bar,
  .form-radio input[type="file"] ~ .bar,
  .form-group input[type="file"] ~ .bar {
    display: none; }

.form-checkbox select,
.form-checkbox input:focus,
.form-checkbox input.valid,
.form-checkbox input.form-file,
.form-checkbox input.has-value,
.form-checkbox textarea:focus,
.form-checkbox textarea.valid,
.form-checkbox textarea.form-file,
.form-checkbox textarea.has-value,
.form-radio select,
.form-radio input:focus,
.form-radio input.valid,
.form-radio input.form-file,
.form-radio input.has-value,
.form-radio textarea:focus,
.form-radio textarea.valid,
.form-radio textarea.form-file,
.form-radio textarea.has-value,
.form-group select,
.form-group input:focus,
.form-group input.valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea.valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333; }
  .form-checkbox select ~ .control-label,
  .form-checkbox input:focus ~ .control-label,
  .form-checkbox input.valid ~ .control-label,
  .form-checkbox input.form-file ~ .control-label,
  .form-checkbox input.has-value ~ .control-label,
  .form-checkbox textarea:focus ~ .control-label,
  .form-checkbox textarea.valid ~ .control-label,
  .form-checkbox textarea.form-file ~ .control-label,
  .form-checkbox textarea.has-value ~ .control-label,
  .form-radio select ~ .control-label,
  .form-radio input:focus ~ .control-label,
  .form-radio input.valid ~ .control-label,
  .form-radio input.form-file ~ .control-label,
  .form-radio input.has-value ~ .control-label,
  .form-radio textarea:focus ~ .control-label,
  .form-radio textarea.valid ~ .control-label,
  .form-radio textarea.form-file ~ .control-label,
  .form-radio textarea.has-value ~ .control-label,
  .form-group select ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group input.valid ~ .control-label,
  .form-group input.form-file ~ .control-label,
  .form-group input.has-value ~ .control-label,
  .form-group textarea:focus ~ .control-label,
  .form-group textarea.valid ~ .control-label,
  .form-group textarea.form-file ~ .control-label,
  .form-group textarea.has-value ~ .control-label {
    font-size: 0.8em;
    color: gray;
    top: 0.5em;
    left: 0; }

.form-checkbox select:focus,
.form-checkbox input:focus,
.form-checkbox textarea:focus,
.form-radio select:focus,
.form-radio input:focus,
.form-radio textarea:focus,
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none; }
  .form-checkbox select:focus ~ .control-label,
  .form-checkbox input:focus ~ .control-label,
  .form-checkbox textarea:focus ~ .control-label,
  .form-radio select:focus ~ .control-label,
  .form-radio input:focus ~ .control-label,
  .form-radio textarea:focus ~ .control-label,
  .form-group select:focus ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group textarea:focus ~ .control-label {
    color: #337ab7; }
  .form-checkbox select:focus ~ .bar::before,
  .form-checkbox input:focus ~ .bar::before,
  .form-checkbox textarea:focus ~ .bar::before,
  .form-radio select:focus ~ .bar::before,
  .form-radio input:focus ~ .bar::before,
  .form-radio textarea:focus ~ .bar::before,
  .form-group select:focus ~ .bar::before,
  .form-group input:focus ~ .bar::before,
  .form-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0; }

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2em;
  text-align: left;
  color: #333;
  display: block; }

.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0; }

.radio {
  margin-top: 2.25em;
  margin-bottom: 1em;
  margin-left: 0.7em; }
  .radio .helper {
    position: absolute;
    top: -0.25em;
    left: -0.25em;
    cursor: pointer;
    display: block;
    font-size: 1em;
    user-select: none;
    color: #999; }
    .radio .helper::before, .radio .helper::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 8px;
      width: 1em;
      height: 1em;
      transition: transform 0.28s ease;
      border-radius: 50%;
      border: 0.125em solid currentColor; }
    .radio .helper::after {
      transform: scale(0);
      background-color: #337ab7;
      border-color: #337ab7; }
  .radio label:hover .helper {
    color: #337ab7; }
  .radio input:checked ~ .helper::after {
    transform: scale(0.5); }
  .radio input:checked ~ .helper::before {
    color: #337ab7; }

.checkbox {
  margin-top: 2.25em;
  margin-bottom: 1em;
  margin-left: 0.7em; }
  .checkbox .helper {
    color: #999;
    position: absolute;
    top: 0.3em;
    left: 0.3em;
    width: 1em;
    height: 1em;
    z-index: 0;
    border: 0.125em solid currentColor;
    border-radius: 0.0625em;
    transition: border-color 0.28s ease; }
    .checkbox .helper::before, .checkbox .helper::after {
      position: absolute;
      height: 0;
      width: 0.2em;
      background-color: #337ab7;
      display: block;
      transform-origin: left top;
      border-radius: 0.25em;
      content: '';
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0; }
    .checkbox .helper::before {
      top: 0.65em;
      left: 0.38em;
      transform: rotate(-135deg);
      box-shadow: 0 0 0 0.0625em #fff; }
    .checkbox .helper::after {
      top: 0.3em;
      left: 0;
      transform: rotate(-45deg); }
  .checkbox label:hover .helper {
    color: #337ab7; }
  .checkbox input:checked ~ .helper {
    color: #337ab7; }
    .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
      opacity: 1;
      transition: height 0.28s ease; }
    .checkbox input:checked ~ .helper::after {
      height: 0.5em; }
    .checkbox input:checked ~ .helper::before {
      height: 1.2em;
      transition-delay: 0.28s; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1em; }

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #d9534f; }

.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f; }

.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%; }

.input-validation-error ~ .bar {
  border-color: #ed1c24; }
  .input-validation-error ~ .bar:before {
    background: #ed1c24; }

.icon {
  width: 12px;
  height: 12px;
  position: relative;
  top: 1px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }
  .icon--flip {
    transform: scaleX(-1);
    filter: FlipH; }
  .icon--m {
    width: 24px;
    height: 24px; }
  .icon--l {
    width: 36px;
    height: 36px; }
  .icon--xl {
    width: 48px;
    height: 48px; }

.img-responsive {
  max-width: 100%;
  vertical-align: top; }

.embed-responsive {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden; }
  .embed-responsive iframe, .embed-responsive embed, .embed-responsive object {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.show {
  display: block !important; }

.hidden {
  display: none !important; }

@media (max-width: 767px) {
  .hidden-s {
    display: none !important; } }

@media (min-width: 768px) {
  .show-s {
    display: none !important; }
  .hidden-m {
    display: none !important; } }

@media (min-width: 1200px) {
  .show-m {
    display: none !important; }
  .hidden-l {
    display: none !important; } }

.g-row {
  display: flex;
  flex-wrap: wrap;
  width: initial;
  margin: -1em -6px 1em -6px;
  justify-content: space-around; }

.g-size-1, .g-size-2, .g-size-3, .g-size-4, .g-size-5, .g-size-6, .g-size-7, .g-size-8, .g-size-9, .g-size-10, .g-size-11, .g-size-12 {
  max-width: 8.33333%;
  flex-basis: 8.33333%;
  padding: 6px; }

.g-size-2, .g-size-3, .g-size-4, .g-size-5, .g-size-6 {
  max-width: 50%;
  flex-basis: 50%; }

.g-size-7, .g-size-8, .g-size-9, .g-size-10, .g-size-11, .g-size-12 {
  max-width: 100%;
  flex-basis: 100%; }

@supports (display: grid) {
  .g-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 12px;
    margin: initial; }
  .g-size-1, .g-size-2, .g-size-3, .g-size-4, .g-size-5, .g-size-6, .g-size-7, .g-size-8, .g-size-9, .g-size-10, .g-size-11, .g-size-12 {
    padding: initial;
    max-width: none; }
  .g-size-2, .g-size-3, .g-size-4, .g-size-5, .g-size-6 {
    grid-column: span 6; }
  .g-size-7, .g-size-8, .g-size-9, .g-size-10, .g-size-11, .g-size-12 {
    grid-column: span 12; } }

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .nav-list__item {
    margin: 0 12px 5px; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 23px 28px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 28px;
  height: 16px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 28px;
    height: 2px;
    background-color: #007dc3;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -7px; }
  .hamburger-inner::after {
    bottom: -7px; }

/*@import "types/3dx";
@import "types/3dx-r";
@import "types/3dy";
@import "types/3dy-r";
@import "types/3dxy";
@import "types/3dxy-r";
@import "types/arrow";
@import "types/arrow-r";
@import "types/arrowalt";
@import "types/arrowalt-r";
@import "types/arrowturn";
@import "types/arrowturn-r";
@import "types/boring";
@import "types/collapse";
@import "types/collapse-r";
@import "types/elastic";
@import "types/elastic-r";
@import "types/emphatic";
@import "types/emphatic-r";
@import "types/minus";*/
/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 1px; }
  .hamburger--slider .hamburger-inner::before {
    top: 7px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 14px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-4px, -5px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -14px, 0) rotate(-90deg); }

/*@import "types/slider-r";
@import "types/spin";
@import "types/spin-r";
@import "types/spring";
@import "types/spring-r";
@import "types/stand";
@import "types/stand-r";
@import "types/squeeze";
@import "types/vortex";
@import "types/vortex-r";*/
.card {
  position: relative;
  background: #fff;
  margin-bottom: 24px;
  display: block;
  color: #333;
  text-decoration: none; }
  .card__header {
    position: relative; }
  .card__title {
    color: inherit;
    margin: 0; }
  .card__body {
    padding: 24px; }
    .card__body + .card__footer {
      padding-top: 0; }
  .card__subline {
    padding-right: 12px; }
  .card__footer {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 0.95em; }
  .card.card-linked {
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid rgba(0, 0, 0, 0.1); }
    .card.card-linked:hover {
      border-bottom-color: #ed1c24; }

.pagination--centered {
  justify-content: center; }

.pagination__item {
  margin: 3px; }

.pagination__link {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  color: black;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3); }
  .pagination__link:hover {
    background: white; }
  .pagination__link--current {
    font-weight: 700; }
  .pagination__link--disabled {
    color: rgba(0, 0, 0, 0.2);
    cursor: default; }

.video-player {
  position: relative; }
  .video-player:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .video-player > .video-player__embed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .video-player iframe {
    width: 100%;
    height: 100%; }

.site-header {
  z-index: 90; }

.site-logo {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  display: block; }

@media (max-width: 768px - 1) {
  .site-nav {
    position: fixed;
    z-index: 900;
    background: #fff;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 70px; }
    .site-nav__container {
      display: none;
      width: 100%;
      position: fixed;
      height: calc(100vh - 70px);
      left: 0;
      top: 70px;
      overflow-y: scroll; }
    .site-nav__bar {
      position: fixed;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 70px; }
    .site-nav__hamburger {
      position: absolute;
      right: 0;
      top: 0; }
    .site-nav--active {
      height: 100vh;
      overflow-y: scroll; }
      .site-nav--active .site-nav__container {
        display: block; }
    .site-nav__menu {
      flex-direction: column;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch; }
      .site-nav__menu-item {
        position: relative;
        margin: 0; }
        .site-nav__menu-item a {
          font-size: 24px;
          display: block;
          padding: 15px; }
          .site-nav__menu-item a:hover {
            color: #ed1c24; }
        .site-nav__menu-item:hover {
          background: #fff; }
    .site-nav__sub-menu {
      display: flex;
      position: fixed;
      left: 100vw;
      top: 70px;
      height: calc(100vh - 70px);
      z-index: 1000;
      transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out;
      background: #fff;
      overflow-y: scroll;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      width: 100%;
      opacity: 0; }
      .site-nav__sub-menu-toggle, .site-nav__sub-menu-toggle-reverse {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
        width: 66px;
        height: 66px;
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        right: 0; }
      .site-nav__sub-menu--active {
        left: 0;
        opacity: 1; }
      .site-nav__sub-menu-item {
        position: relative;
        margin: 0; }
        .site-nav__sub-menu-item__heading {
          background: #fff;
          border-bottom: 2px solid #000; }
    .site-nav__no-overflow {
      overflow-y: hidden !important; } }

.site-nav a {
  color: #333;
  text-decoration: none; }

.site-main {
  z-index: 60; }

.site-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 12px;
  position: relative; }

.site-footer {
  display: block;
  width: 100%;
  position: relative;
  z-index: 50;
  font-size: 85%; }
  .site-footer .site-container {
    border-top: 1px solid #ddd;
    padding-top: 50px;
    margin-top: 50px; }
